* {
    margin: 0;
    padding: 0;
} 

body {
    font-family: 'Raleway', sans-serif;
}

#content {
    margin: 20px;
}

#footer {
    height: 120px;
    line-height: 80px;
    margin-top: 50px;
    text-align: center;
}
